@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
:root{
    --oxford-blue : #14213D;
    --Orange :#FCA311;
    --Platinum:#E5E5E5;
}


.body-principal {
    background: #000;
    min-height: 100vh;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-image: url(../imagenes/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    /*background-color:#2a0928;*/
}
/*-----------------Menu de navegacion entra ventanas-------------*/
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--oxford-blue);
}

.logo {
    height: 60PX;
}

.icon {
    height: 24px;
    width: 24px;
    margin-left: 20px;
}

/* Top Navigation Styles */

.top-nav .nav-container {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    align-items: center;
}

/* Main Navigation Styles */
.main-nav {
    background-color: var(--oxford-blue);
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
    /*border-bottom: 1px solid #eaeaea;*/
}

.main-nav .main-container {
    position: relative;

    padding: 0 20px;
}

nav ul {
    z-index: 1;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: var(--Platinum);
    padding: 15px 20px;
    display: block;
}

nav ul li:hover .dropdown {
    display: block;
}

/* Dropdown Styles */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--Orange);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.dropdown li {
    width: 200px;

}

.dropdown li a {
    padding: 10px 20px;
    color: var(--oxford-blue);
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    margin: 4px 0;
    transition: 0.4s;
}

/*---------------Hasta aca con navegacion menu*----------------/

/*--------------TODO ARTICLE---------------------*/
/*--------------Deslizante imagenes---------------------*/

/*body*/
.principal-carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -75px;
    padding-right: 30px;
    padding-left: 30px;
}
.principal-carousel .container-carousel{
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;/*para obsevar la primera imagen, se sobrepone a los demas*/
}
.carruseles{
    width: 1000%; /* para 5 imagenes*/
    height: 100%;
    display: flex;
}
.slider-section{
    width: calc(100%/10); /*calculo para 5 iamgenes*/
}
.slider-section img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*para que no pierda la calidad*/
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: var(--oxford-blue);
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}


/*-------------- FIN Deslizante imagenes---------------------*/


.information{
    width: 70%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 25px 75px;
    margin-top: -75px;
    background-color: var(--oxford-blue);
    position: relative;
    z-index: 2;
    margin-top: -75px; /* Ajuste para superponer sobre .principal-carousel */
}
.information-content{
    text-align: center;
    display:flex;
    justify-content: space-between;
}
.information-1 img{
    width:50px;
}

.information-1 h3{
    font-size: 17px;
    color: white;
    font-family: "Righteous", sans-serif;
}
.information-1 p{
    margin-bottom: 0;
    text-align: center;
    

}
/*--------------FIN ARTICLE---------------------*/

/*--------------SECCIONES------------------------*/
.seccion{
    padding: 30px;
    box-sizing: border-box
}
.productos{
    text-align: center;
    justify-content: space-between;
}
.productos h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    color: var(--Platinum);
}

.product-list {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin: 20px auto;
}

.product-item {
    background-color: var(--oxford-blue);
    border: 3px solid var(--Orange);
    padding: 1rem;
    width: 200px;
    border-radius: 15px;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    color: var(--Orange);
    text-align: center;
}

.product-item p{
    color: var(--Platinum);
    text-align: left;
    
}
.product-item .btn {
    background-color: var(--Platinum);
    color: var(--oxford-blue);
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 0.5rem;
}


.sobre-nosotros {
    text-align: left;
    background-color: var(--oxford-blue);
}
.sobre-nosotros p{
    color:var(--Platinum);
    font-family: Righteous, sans-serif;
    text-align:start;
    font-size:24px;
}
.sobre-nosotros .about-content .about-column h3{
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    color: var(--Orange);
    
}
.sobre-nosotros .about-content .about-column a{
    text-decoration: none;
    color: #4a3aff;
    font-family: Righteous, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: -webkit-inline-flex;
}
.ti-arrow-big-right:hover{
    transform: rotate(45deg);
}
.ti-arrow-big-right:hover {
    color: red;
}
.ti-arrow-big-right {
    margin-top: 3px;
    color: #4a3aff; /* Cambia el color del icono */
    font-size: 22px; /* Ajusta el tamaño del icono */
    margin-left:5px; /* Añade un margen a la derecha */
    transition: transform 0.3s ease; /* Añade una transición suave */
}
.ti-arrow-big-right:hover {
    transform: translateX(3px); /* Mueve el icono 10px a la derecha al pasar el cursor */
}


.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.about-column {
    flex: 1;
    min-width: 200px;
}
.nosotros{
    padding-top: 50px;
}
.about-column h3 {
    color: var(--burdeos);
}

.about-column p {
    max-width: 100%;
}
.about-column div{
    font-size: 20px;
}

.about-column img {
    max-width: 100%;
    height: auto;
    border: 2px solid #3B2F2F;
    border-radius: 10px;
}

/*---------------Marcas------------------------*/

/*--------------- Fin Marcas------------------------*/
/*--------------FIN SECTION---------------------*/

/*--------------PREGUNTAS FRECUENTES----------*/
.slider-container {
    text-align: center;
    width: 100%;
    padding: 30px;
}

.slider-container h2 {
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    color: var(--Platinum);
}

.slider-img {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slide-track {
    display: flex;
    width: calc(250px * 10);
    animation: scroll 15s linear infinite; /* Adjust the duration for faster speed */
}

.slide {
    height: 100%;
    width: 400px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 15px;
}

.slide img {
    width: 100%;
    vertical-align: top;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 5)); /* Ensure this matches the width of half the slides */
    }
}

.faq {
    background-color: var(--oxford-blue);
    font-size: 20px;
    font-family: Righteous, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    padding: 15px;
    cursor: pointer;
    background: var(--oxford-blue);
    color: var(--Orange);
    font-weight: bold;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
}


.indicator {
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    background:var(--oxford-blue);
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.faq-answer.show {
    padding-left: 15px;
    padding-bottom: 40px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.faq-question.open .indicator {
    transform: rotate(180deg);
}
/*--------------FIN PREGUNTAS FRECUENTES----------*/


/*---------------FORMULARIO--------------------*/
.Formulario-principal{
    font-family: "Righteous", sans-serif;
    background-color: var(--Platinum);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.Formulario-principal .content-empresa {
    background-color: var(--oxford-blue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}
.Formulario-principal .company-info {
    text-align: center;
    margin-bottom: 20px;
}

.Formulario-principal .company-info img {
    margin-bottom: 10px;
    height: 100px;
}

.Formulario-principal .company-info p {
    color: var(--Platinum);
    margin-bottom: 20px;
    font-size: 20px;
}

.Formulario-principal .social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Formulario-principal .social-icon {
    color: var(--oxford-blue);
    background-color: var(--Orange);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
}

.Formulario-principal .social-icon:hover {
    background-color: #aa874f;
}
.form-container {
    background-color: var(--oxford-blue);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.form-aspecto form {
    display: flex;
    flex-direction: column;
}

.form-aspecto h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--Platinum);
}

.form-aspecto label {
    margin-bottom: 10px;
    color: var(--Orange);
    font-weight: bold;
}

.form-aspecto input[type="text"],
.form-aspecto input[type="tel"],
.form-aspecto input[type="email"],
.form-aspecto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-aspecto textarea {
    resize: none;
}

.form-aspecto input[type="submit"] {
    background-color: var(--Orange);
    color: var(--oxford-blue);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-aspecto input[type="submit"]:hover {
    background-color: #45a049;
}
/*---------------FIN FORMULARIO--------------------*/
/*Whatsapp*/
.wpp-boton i {
    background-color:#0df053 ;
    color: #fff;
    position: fixed;
    font-size: 40px;
    line-height: 55px;
    bottom: 15px;
    left: 7px;
    z-index: 100;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    border-radius: 50%;
    padding: 15px; /* Adjust padding to make it circular */
    text-align: center;
    text-decoration: none;
    width: 60px;  /* Fixed width and height for a perfect circle */
    height: 60px; /* Fixed width and height for a perfect circle */
    display: flex; /* Center the icon */
    align-items: center; /* Center the icon */
    justify-content: center; /* Center the icon */
}
.wpp-boton i:hover{
     color: #0df053;
     background-color: #fff;
     transform: scale(1.1);
}

footer{
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .slide {
        width: 200px;
    }

    .slide-track {
        width: calc(200px * 10);
        animation: scroll 15s linear infinite; /* Adjust the duration for smaller screens */
    }
    /*HEADER*/
    nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--oxford-blue);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    nav ul li {
        text-align: left;
    }

    nav ul li .dropdown {
        position: static;
        box-shadow: none;
    }

    .hamburger {
        display: flex;
    }

    .nav-active {
        display: flex;
    }

    .toggle .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@media (max-width: 480px) {
    .slide {
        width: 150px;
    }

    .slide-track {
        width: calc(150px * 10);
        animation: scroll 10s linear infinite; /* Adjust the duration for smaller screens */
    }
}
